BraveSoftware
Code
Hyper
JetBrains
Kvantum
Kvantum Managerrc
PostmanAgent
Thunar
Trolltech.conf
QtProject.conf
VirtualBox
akonadi
akonadiconsolerc
akregatorrc
alacritty
arkrc
autostart
awesome/rc.lua
breezerc
caffeine
baloofilerc
composer
compton.conf
configstore
conky-manager2.json
dconf
dolphinrc
drkonqirc
dunst
emaildefaults
emailidentities
evolution
falkon
geary
gedit
gitui
gnome-control-center
gnome-layout-switcher.conf
goa-1.0
gthumb
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
hexchat
htop
i3
ibus
kactivitymanagerd-statsrc
kactivitymanagerdrc
kalarmrc
kateschemarc
katevirc
kcminputrc
kconf_updaterc
kde.org
kdeconnect
kded5rc
kdeglobals
kdeveloprc
kdialogrc
kgammarc
kglobalshortcutsrc
kgpgrc
khotkeysrc
kinfocenterrc
kmail2rc
kmixctrlrc
kmixrc
kmousetool_strokes.txt
kmousetoolrc
knfsshare
konq_history
konquerorrc
konsolerc
korgacrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
lfm
libaccounts-glib
manjaro
manjaro-hello.json
menus
mimeapps.list
monitors.xml
monitors.xml~
musikcube
nautilus
neofetch
okularpartrc
okularrc
pamac
phishingurlrc
pipewire-media-session
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
pulse
qt5ct
ranger
rncbc.org
sddmthemeinstallerrc
session
signond
spectaclerc
spotify-tui
systemsettingsrc
tlpui
transmission
trashrc
user-dirs.dirs
user-dirs.locale
vis
vlc
webengineurlinterceptoradblockrc
xfce4
yakuakerc
mps-youtube/cache_py_3.8.5
mps-youtube/config
mps-youtube/input_history
mps-youtube/play_history.m3u
mps-youtube/transcode
